h2 {
    text-align: center;
}

button, input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form {
    text-align: right;
}

table {
    border-spacing: 5px;
    width: 33%;
    position: absolute;
    left: 48%;
    margin: 0 0 0-200px;
    border: 1px solid darkgrey;
    border-radius: 4px;
}

th[name="submit"] {
    text-align: center;
}

#login, #produto {
    padding-top: 17%;
}

#menuVertical {
    border-spacing: 5px;
    width: 33%;
    position: absolute;
    left: 48%;
    margin: 0 0 0-200px;
    border: 1px solid darkgrey;
    border-radius: 4px;
}

a {
    color: black;
    display:block;
    text-decoration: none;
    padding: 8px;

}

#menuVertical a:hover {
    background-color: #ccc;
}

#menuVertical a.title {
    background-color: black;
    color: white;
}

#topnav {
    background-color: black;
    overflow: hidden;
}

#topnav a {
    display: block;
    color: white;
    float: left;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

#topnav a:hover {
    background-color: darkgrey;
    color: black;
}

#topnav a.active {
    background-color: darkgrey;
    color: black;
}

#topnav div[name="restrito"] {
    background-color: darkblue;
}

#topnav div[name="restrito"] a {
    color: white;
}

#topnav div[name="restrito"] a:hover {
    background-color: lightblue;
    color: black;
}

#imagem {
    border: none;
    height: 60px;
    width: 75px;
}